@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #eee;
}
.main-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}
.carousel-cell {
    width: 100%;
    height: 50vh;
    min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    & .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        width: 250px;
        height: 50px;
        border-radius:10px;
        margin-bottom: 20px;
    }
    & h3, p {
        margin: 0;
        line-height: 1.2em;
        color: #ddd;
        text-shadow: 2px 2px 3px#000;
    }
}
.progress-bar {
    height: 5px;
    width: 0;
    background: #aaa;
}
.restart-button {
    $btn-color: #eee;
    position: absolute;
    top: 2vh;
    right: 2vw;
    width: 100px;
    height: 30px;
    font-size: 13px;
    border-radius: 10px;
    border: none;
    background-color: $btn-color;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: darken($btn-color, 5%);
        i {
        transform: translateX(-5px);
        }
    }
    &:active, &:focus {
        outline: none;
    }
}
#map {
    width: 100%;
    height: calc( 50vh - 5px );
}